:root{
    --logoColor:#DF052B;
}
body{
    width: 100%;
    height: 100%;
}
#bannerHead{
    width: 100%;
    height: 13%;
    background-color:var(--logoColor);
    position: absolute ;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#ul_bannerHead{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 120%;
    color: white;
    font-family:monospace;
    width: 100%;
    margin: 0;
    margin-top: 20px;
    position: absolute;
    bottom: 30%;
    right: 5%;
    
}
#nav_menu{
    position: relative;
    width: 60%;

}

.list-items{
    list-style: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1%;
    margin-left: 40px;
    position: relative;
}

.list-items:hover{
    background-color: #fb5151;
    border-radius: 20px;
}

.list-items a i{
    font-size: 25px;
    position: relative;
    top: 3px;
}
.list-items a{
    color: white;
    text-decoration: none;
}

#div_list{
    display: flex;
    justify-content: space-around;
}

#div_logo{
    
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}
#name_logo{
    font-size: 150%;
    width: 200%;
    color: white;
    margin-top: 15%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#div_logo img{
    width: 100%;
    object-fit:contain;
    
}
#logo_item{
    width: 100%;
    height: 100%;
}
#produces_logo{
    width: 100%;
    height: 200%;
    background-color:white;
    position: absolute;
    top: 15%;
    left: 0;
    display: flex;
    flex-direction: column;
    padding:0 10px;
}

#title_produce{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.produce_item{
    width: 200px;
    height: 300px;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
}
#list_produce{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
}
.produce_img img{
    object-fit: contain;
    width: 60%;
    margin-top: 5px;
    margin-bottom: 10px;
}
.produce_img{
  text-align: center;
}
.produce_info_container{
    padding: 10px;

}   
.produce_name{
    margin-top: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.produce_price{
    color: var(--logoColor);
    text-align: center;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  
.produce_activity{
    margin: 25px 0;
    display: flex;
    justify-content: space-around;
}

.button_buy button{
    background-color: var(--logoColor);
    border: none;
    color: white;
    padding: 7px;
    font-weight: 400;
}
.button_buy button:active{
    background-color: #f5627a;
}
.button_save i{
    font-size: 25px;
    color: #9d9d9d;
}

.button_save i:hover{
    color: var(--logoColor);
}

.heart_item{
    font-weight: 10;
    text-align: end;
    color: var(--logoColor);
    display: flex;
    justify-content: end;
    margin-top: 4px;
}
.heart_item i{
    font-size: 20px;
    
}