:root{
    --logoColor:#DF052B;
    --clickChange:  #9d9d9d;
}
*{
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
}
#bannerHead{
    width: 100%;
    height: 100px;
    background-color:var(--logoColor);
    position: relative ;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#ul_bannerHead{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 120%;
    color: white;
    font-family:monospace;
    width: 100%;
    margin: 0;
    margin-top: 20px;
    position: absolute;
    bottom: 30%;
    right: 5%;
}
#nav_menu{
    position: relative;
    width: 42%;
    height: 100px;
}

.list-items{
    list-style: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1%;
    margin-left: 40px;
    position: relative;
}

.list-items:hover{
    background-color: #fb5151;
    border-radius: 20px;
}

.list-items a i{
    font-size: 25px;
    position: relative;
    top: 3px;
}
.list-items a{
    color: white;
    text-decoration: none;
}

#div_list{
    display: flex;
    justify-content: space-around;
}

#div_logo{
    
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}
#name_logo{
    font-size: 150%;
    height: 100%;
    width: 200%;
    color: white;
    margin-top: 15%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#logo_item{
    width: 100%;
    height: 90%;
    object-fit:cover;
    cursor: pointer;
    border: 1px solid white;
    margin: 3px 5px 0;
}
#produces_logo{
    width: 100%;
    height: 700px;
    background-color:white;
    position: relative;
    top: 10px;
    left: 0;
    display: flex;
    flex-direction: column;
    padding:0 10px;
}

#title_produce{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.produce_item{
    width: 200px;
    height: 300px;
    background-color: white;
    margin:10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
    box-sizing: border-box;
}
.produce_item:hover{
    border: 2px solid #ff526f;
    transition-delay: 0.2s;
}
#list_produce{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
}
.produce_img img{
    object-fit: contain;
    width: 60%;
    margin-top: 5px;
    margin-bottom: 10px;
}
.produce_img{
  text-align: center;
}
.produce_info_container{
    padding: 10px;

}   
.produce_name{
    margin-top: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.produce_price{
    color: var(--logoColor);
    text-align: center;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  
.produce_activity{
    margin: 25px 0;
    display: flex;
    justify-content: space-around;
}

.button_buy button{
    background-color: white;
    border: 2px solid var(--logoColor);
    border-radius: 5px;
    color: var(--logoColor);
    padding: 7px;
    font-weight: 400;
    cursor: pointer;
}
.button_buy button:active{
    color: white;
    background-color: var(--logoColor);
    transform: scale(0.8);
    transition: 0.3s;
}
.button_save i{
    font-size: 25px;
    color: var(--clickChange);
    cursor: pointer;
}

.button_save i:hover{
    color: var(--logoColor);
}

.heart_item{
    font-weight: 10;
    text-align: end;
    color: var(--clickChange);
    display: flex;
    justify-content: end;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    cursor: pointer;
}
.heart_item i{
    font-size: 20px;
    color: var(--clickChange);
}
main{
    position: relative;
}
.modal_cart{
    position: absolute;
    height: auto;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

.modal_button_cart{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    margin: 40px auto;
    position: relative;
}

.modal_header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--logoColor);
    color: white;
    font-size: 25px;
    font-weight: 900;
    flex: 1;
}
.icon_close{
    cursor: pointer;
    transition: 0.5s;
    /* transform: skew(45deg, -45deg); */
}
/* .icon_close:hover{
    transform: skew(0deg, 0deg);
} */
.modal_body{
    padding: 15px;
    font-family: none;
    font-style: none;
    font-size: 15px;
}
.modal_footer{
    background-color: white;
    padding: 15px;
    position: absolute;
    width: 90%;
    bottom: 0;
    display: flex;
    justify-content: end;
    overflow: hidden;
}

.modal_button-close{
    padding: 5px 15px;
    border-radius: 5px;
    border: var(--logoColor) solid 2px;
    background-color: white;
    cursor: pointer;
}

.modal_button-close:hover{
    background-color: var(--logoColor);
    color: white ;
}
.change_click-item{
    background-color: white;
    border-radius: 20px;
}
.field_close{
    display: none;
}

.field_open{
    display: block;
}

