:root{
    --logoColor:#DF052B;
    --clickChange:  #9d9d9d;
    --hoverColor:  #fb5151;
}
*{
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
}
#bannerHead{
    width: 100%;
    height: 100px;
    background-color:var(--logoColor);
    position: relative ;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#ul_bannerHead{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 17px;
    color: white;
    font-family:monospace;
    width: 711px;
    position: absolute;
    bottom: 30%;
    right: 0;
}
#nav_menu{
    position: relative;
    height: 100px;
    display: flex;
}

.list-items{
    list-style: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 50px;
    position: relative;
    padding: 10px;
    transition: 0.5s ease;
    border-radius: 30px;
    background-color: var(--logoColor);
}

.list-items:hover{
    background-color: var(--hoverColor);
    
}

.list-items a i{
    font-size: 25px;
    position: relative;
    top: 3px;
}
.list-items a{
    color: white;
    text-decoration: none;
}



.title_head{
    display: flex;
    justify-content: space-around;
}
#div_logo{
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}
#name_logo{
    font-size: 150%;
    height: 100%;
    width: 200%;
    color: white;
    margin-top: 15%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#logo_item{
    width: 70px;
    height: 70px;
    object-fit:cover;
    cursor: pointer;
    border: 1px solid white;
    margin: 10px 10px 0;
}


/*--------------------modal responsive-----------------*/


/**/
/*-----SEARCH MODAL--------*/
.modal_search{
    position: absolute;
    width: 100%;
    height: 100000px;
    background-color:rgba(0,0,0, 0.6);
    text-align: center;
    z-index: 3; 
    transition: all 3s ease;
    display: none;
}

.modal_button_search{
    width: 80%;
    height: 500px;
    background-color: white;
    margin: 0 auto;
    position: relative;
    border-radius: 0 0 10px 10px;
}

.modal_search--header{
    width: 95%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.input--search{
    width: 85%;
    padding: 5px;
    transition: all 1s ease;
    background-color: white;
    outline: unset;
    border: 1.5px solid var(--logoColor);
    flex: 9;
}

.input--search:focus{
    border: 2px solid var(--logoColor);
}
.button--search{
    margin-left: 10px;
    flex: 1;
}
.modal_search--body{
    width: 95%;
    margin: 0 auto;
    position: absolute;
}

.modal_search--footer{
    width:50%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    display: flex;
    justify-content: end;
}

/*-----------MENU MODAL-----*/

.responsive_nav_menu{
    display: none;
    color: white;
    font-size: 25px;
}


/*-------CART MODAL-------*/
.modal_cart{
    position: absolute;
    width: 100%;
    height: 10010000px;
    background-color: rgba(0,0,0,0.6);
    z-index: 3;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

.modal_button_cart{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 90%;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 40px auto;
    position: relative;
}

.modal_cart--header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: var(--logoColor);
    color: white;
    font-size: 25px;
    font-weight: 900;
    flex: 1;
}
.modal_cart--body{
    height: 345px;
    font-family: none;
    font-style: none;
    font-size: 15px;
    overflow-y: scroll;
    
}
.modal_cart--footer{
    background-color: white;
    padding: 15px;
    position: absolute;
    width: 95%;
    bottom: 0;
    display: flex;
    justify-content: end;
    overflow: hidden;
    
}

.button_style{
    padding: 5px 15px;
    border-radius: 5px;
    border: var(--logoColor) solid 1.5px;
    background-color: white;
    cursor: pointer;
}

.button_style:hover{
    background-color: var(--logoColor);
    color: white ;
}


.icon_close{
    cursor: pointer;
    transition: 0.5s;
    /* transform: skew(45deg, -45deg); */
    padding: 5px;
    border-radius: 50%; 
}
.icon_close:hover{
    background-color: #b30724d0;
}

/*-----class public-----------*/
.change_click-item{
    background-color: white;
    border-radius: 20px;
}

.field_close{
    display: none;
}

.field_open{
    display: block;
}

/*--------------------------------Main--------------------------------------*/

#produces_logo{
    width: 100%;
    height: 700px;
    background-color:white;
    position: relative;
    top: 10px;
    left: 0;
    display: flex;
    flex-direction: column;
    padding:0 10px;
}
#title_produce{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.produce_item{
    width: 200px;
    height: 300px;
    background-color: white;
    margin:10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
    box-sizing: border-box;
}
.produce_item:hover{
    border: 2px solid var(--hoverColor);
    transition-delay: 0.2s;
}
#list_produce{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
}
.produce_img img{
    object-fit: contain;
    width: 60%;
    margin-top: 5px;
    margin-bottom: 10px;
}
.produce_img{
  text-align: center;
}
.produce_info_container{
    padding: 10px;
    
}   
.produce_name{
    margin-top: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.produce_price{
    color: var(--logoColor);
    text-align: center;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  
.produce_activity{
    margin: 25px 0;
    display: flex;
    justify-content: space-around;
}

.button_buy button{
    background-color: white;
    border: 2px solid var(--logoColor);
    border-radius: 5px;
    color: var(--logoColor);
    padding: 7px;
    font-weight: 400;
    cursor: pointer;
}
.button_buy button:active{
    color: white;
    background-color: var(--logoColor);
    transform: scale(0.8);
    transition: 0.1s;
}

.button_save i{
    font-size: 25px;
    color: var(--clickChange);
    cursor: pointer;
    margin-top: 3px;
    
}

.button_save i:hover{
    color: var(--logoColor);
}

.heart_item{
    font-weight: 10;
    text-align: end;
    color: var(--clickChange);
    display: flex;
    justify-content: end;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    cursor: pointer;
    transition: 0.5s ease;
}
.heart_item i{
    font-size: 20px;
    color: var(--clickChange);
    transition: 0.2s ease;
}
main{
    position: relative;
}

/*-----------class add field data products*/
.dataProducts-SpaceBetween{
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.dataProducts_style{
    width: 100%;
    border-top:  1px solid var(--clickChange);
    border-bottom:  1px solid var(--clickChange);
    padding: 5px;
    transition: 0.5s ease;
}


.dataProducts_button--pop{
    width: 30px;
    height: 30px;
    border: 3px solid var(--clickChange);
    outline: none;
    background-color: white;
    border-radius: 5px;
    margin: 5px 5px 0 5px;
    cursor: pointer;
    color: var(--clickChange);
    display: none;
    transition:all 0.3s ease;
}

.dataProducts_button--buy{
    width: 30px;
    height: 30px;
    border: 3px solid var(--clickChange);
    outline: none;
    background-color: white;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
    color: var(--clickChange);
    display: none;
    transition:all 0.3s ease;
}

.dataProducts_button--buy i{
    font-size: 30px;
    position: relative;
    right: 9px;
    top: -3px;
}
.dataProducts_button--pop i{
    font-size: 30px;
    position: relative;
    right: 9px;
    top: -3px;
}
.dataProducts_contain{
    display: flex;
    margin-top: 10px;
    cursor: pointer;
    transition:all 0.4s ease;
    
}


.dataProducts_button--buy:hover{
    border: 3px solid rgb(60, 255, 0);
    color:  rgb(60, 255, 0);
}
.dataProducts_button--pop:hover{
    border: 3px solid rgb(255, 181, 33);
    color: rgb(255, 170, 0);
}
.dataProducts_contain:hover{
    background-color: var(--hoverColor);
    justify-content: space-between;
}

.dataProducts_contain:hover .dataProducts_button--pop{
    display: block;

}
.dataProducts_contain:hover .dataProducts_button--buy{
    display: block;
    

}
.dataProducts_contain:hover .dataProducts_style{
    width: 450px;
    background-color: var(--hoverColor);
    color: white;
    border-color: var(--logoColor);
    cursor: pointer;
}

/*-----------Responsive-------------------------------------*/
@media (max-width: 1000px){
    #nav_menu{
        position: absolute;
        width: 100%;
        height: 1000px;
        top: 100px;
        background-color: rgba(0,0,0, 0.6);
        display: none;
       
    }

    #ul_bannerHead{
        flex-direction: column;
        background-color: var(--clickChange);
        width: 100%;
        height: 300px;
        padding: 5px;
        justify-content: space-around;
        bottom: unset;
    }
   

    .responsive_nav_menu{
        display: block;
        position: absolute;
        right: 0;
        margin-top: 10px;
        margin-right: 20px;
    }
    
    #bannerHead{
        display: block;
        padding: unset;
        height: 100px;
        z-index: 3;
    }
    #div_logo{
        justify-content: space-around;
    }
    #name_logo{
        font-size: 20px;  
        width: unset;
        height: unset;
        margin-top: 20px;
    }
    #logo_item{
        position: relative;
        top: 0px;
        width: 50px;
        height: 50px;
    }
        
    .list-items{
        margin-right: unset;
        margin-right: 5px;
        margin-left: 5px;
        padding: 5px;
        font-size: 15px;
        text-align: center;
        background-color: unset;
    }
    .list-items a i{
        font-size:15px;
        top: unset;
    }

    .modal_search{
        margin-bottom: 50px;
        width: 100%;
        left: unset;
    }
    .input_search_modal{
        width: 100%;
        height: unset;
    }

}/*
@media (max-width: 1000px){
    #bannerHead{
        display: block;
        height: 200%;
        padding-bottom: 10px;
    }
    #div_logo{
        justify-content: space-around;
        position: relative;
        
    }
    #name_logo{
        font-size: 200%;  
        width: unset;
        height: unset;
        margin-top: 20px;
    }
    #logo_item{
        position: relative;
        top: 0px;
        width: 50px;
        height: 50px;
    }
    #nav_menu{
        display: unset;
        display: flex;
        height: 50px;
        position: relative;
        top: 5px;
        left: 0;
    }
    
    #ul_bannerHead{
        justify-content: space-around;
        right: unset;
        width: 100%;
        padding: 0;
        position: unset;
    }
    .list-items{
        margin-right: unset;
        margin-right: 5px;
        margin-left: 5px;
        font-size: 100%;
    }
    .list-items a i{
        font-size: 120%;
        top: unset;
    }


    .modal_button_cart{
        width: 90%;
    }
}
 */
