:root{
    --logoColor: #DF052B;
    --clickChange: #9d9d9d;
    --hoverColor: #fb5151;
}

*{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    width: 100%;
    height: 100%;
}

main 
{
    position: relative;
}

